.Main {
    background-color: rgb(255, 255, 255);
    padding: 0.5%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    height: 30px;
    margin: .5%;
    padding-left: 4%;
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.3);
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 50px;
}

.nav-links a {
    text-decoration: red;
    font-size: 20px;
    color: rgb(207, 0, 0);

}

.logo img {
    margin-left: 20px;
    margin-top: 10px;
    width: 180px;
    /* Adjust the width as needed */

}

/* nav Buttom CSS */
.nav-btn {
    appearance: none;
    border: none;
    border-radius: 12px;
    background-color: #ffffff;
    box-sizing: border-box;
    color: #9f0000;
    cursor: auto;
    display: inline-block;
    font-family: "bell-MT", "Helvetica Ne";
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    min-height: 38px;
    min-width: 0;
    outline: none;
    padding: 0px 20px;
    margin-right: -20px;
    text-align: center;
    text-decoration: none;
    transition: all 500ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.nav-btn:disabled {
    pointer-events: none;
}

.nav-btn:hover {
    color: #fff;
    background-color: #9f0000;
    box-shadow: rgba(255, 0, 0, 0.25) 0 3px 15px;
    transform: translateY(-2px);
}

.nav-btn:active {
    box-shadow: none;
    transform: translateY(0);
}

/* other */
.container {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.background {
    flex: 1;
    margin: 0 .5% 0 .5%;
    background-color: transparent;
    border-radius: 10px;

}

.background img {
    box-shadow: 0 5px 10px 5px rgba(255, 0, 0, 0.4);
    border-radius: 10px;
    flex: 1;
    width: 100%;
}

.login-form {
    flex: 1;
    position: absolute;
    margin-left: 40%;
    border-radius: 10px;
    background: #0000006c;
    width: 35%;
    padding: 2% 5% 3% 4%;

}

.login-form h2 {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 30px;
    font-family: "bell-MT", "Helvetica Ne";
}

.dept-btn {
    align-items: left;
    justify-content: left;
    align-content: center;
    margin-left: 50px;
}

/* dept buttons css */
#dept {
    /* display: inline-block; */
    border-radius: 4px;
    background-color: #5b3d3d;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 90%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 15px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}



.note {
    margin-top: 5%;
    margin-bottom: -1%;
    font-size: 13px;
    color: #afafaf
}

;